* {
  margin: 0;
  padding: 0; }

body {
  font-family: montserrat;
  padding: 100px; }

h1 {
  text-align: center;
  color: palevioletred;
  margin-bottom: 40px;
  font-size: 1.5rem; }

h2 {
  color: gray;
  margin-bottom: 20px; }
